.vgt-table {
    border-collapse: separate !important;
    border-spacing: 0;
    border-top: 0 !important;
}
.vgt-table thead {
    position: sticky;
    top: 0;
    z-index:20;
}
.vgt-table thead tr:first-child th {
    border-top: 1px solid #dcdfe6
}
.vgt-table th,
.vgt-table td {
    border-width: .5px !important
}
.vgt-wrap__footer .footer__row-count__select:not([size]) {
    background: none;
}
.vgt-wrap {
    font-family: 'Nunito', sans-serif;
}